#card1.card
  span.top GROUNDBREAKING
  .overlay.grad1
#card3.card
  span.top DISRUPTIVE
  .overlay.grad3
#card4.card
  span.bottom DISRUPTIVE
  .overlay.grad4
#card2.card
  span.bottom GROUNDBREAKING
  .overlay.grad2