svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 800 600')
  rect#secondUpper(x="100" y="50" width="400" height="100" fill="#f66")
  rect#firstLower(x="100" y="150" width="400" height="100" fill="#55f")
  rect#firstUpper(x="100" y="50" width="400" height="100" fill="#66f")
  rect#secondLower(x="100" y="150" width="400" height="100" fill="#f55")