// scss-lint:disable StringQuotes, PropertySortOrder, ColorKeyword, ColorVariable, SelectorFormat, ImportPath
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700,800');

$bp-small: "(max-width: 639px)";
$bp-big: "(min-width: 1024px)";

$open-sans: 'Open Sans', sans-serif;
$font-stack-copy: 300 1.125em $open-sans;
$font-stack-copy-small: 300 0.8125em $open-sans;
$font-stack-link: 700 1em $open-sans;
$font-stack-link-small: 700 1em $open-sans;
$font-stack-headline: 800 55px $open-sans;
$font-stack-headline-small: 800 27.5px $open-sans;

$logo: url("../img/hoylu_logo@2x.png");

$dynamic-line-height: 50px;
$dynamic-line-height-small: 35px;






//-------------------------------------------------------- PLACEHOLDER

.placeholder {
  position: relative;
  width: 600px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.placeholder__header,
.placeholder__randomiser,
.placeholder__message { position: relative; }

@media #{$bp-small} {
  .placeholder {
    width: 300px;
  }
}

//-------------------------------------------------------- HEADER

.placeholder__header {
  padding: 40px 0;

  .placeholder__header__logo {
    height: 90px;
    width: 90px;
    background-image: $logo;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

@media #{$bp-small} {
  .placeholder__header {
    .placeholder__header__logo {
      height: 70px;
      width: 70px;
    }
  }
}


//-------------------------------------------------------- RANDOMISER

.placeholder__randomiser {
  border-top: solid $black 1px;
  border-bottom: solid $black 1px;
  padding: 20px 0;
}

@media #{$bp-small} {
  .placeholder__randomiser {
    border-top: solid $black 1px;
    border-bottom: solid $black 1px;
    padding: 10px 0;
  }
}
//-------------------------------------------------------- LINE

.placeholder__randomiser__line {
  position: relative;
  height: $dynamic-line-height;
  margin: 5px 0;
  text-align: center;
}

@media #{$bp-small} {
  .placeholder__randomiser__line {
    height: $dynamic-line-height-small;
  }
}

//-------------------------------------------------------- PIECES

.placeholder__randomiser__line__piece {
  position: absolute;
  top: 0;
  height: $dynamic-line-height / 2;
  width: 100%;
  background-color: white;
  backface-visibility: hidden;
  overflow: hidden;
}

.placeholder__randomiser__line__piece--lower-position { top: $dynamic-line-height / 2; }

@media #{$bp-small} {
  .placeholder__randomiser__line__piece { height: $dynamic-line-height-small / 2; }
  .placeholder__randomiser__line__piece--lower-position { top: $dynamic-line-height-small / 2; }
}

//-------------------------------------------------------- WORDS

.placeholder__randomiser__line__piece__word {
  position: relative;
  font: $font-stack-headline;
  color: $green;
}

.placeholder__randomiser__line__piece__word--static { color: $black; line-height: .8;}

.placeholder__randomiser__line__piece__word--offset-upper { top: -15px; }

.placeholder__randomiser__line__piece__word--offset-lower { top: -40px; }

@media #{$bp-small} {
  .placeholder__randomiser__line__piece__word { font: $font-stack-headline-small; }
  .placeholder__randomiser__line__piece__word--static { line-height: 1.4;}
  .placeholder__randomiser__line__piece__word--offset-upper { top: -2px; }
  .placeholder__randomiser__line__piece__word--offset-lower { top: -19px; }
}

//-------------------------------------------------------- OVERLAYS

.placeholder__randomiser__line__piece__overlay {
  backface-visibility: hidden;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.placeholder__randomiser__line__piece__overlay--second-upper { background: $gradient1; }

.placeholder__randomiser__line__piece__overlay--second-lower { background: $gradient2; }

.placeholder__randomiser__line__piece__overlay--first-upper { background: $gradient3a, $gradient3b; }

.placeholder__randomiser__line__piece__overlay--first-lower { background: $gradient4a, $gradient4b; }



//-------------------------------------------------------- MESSAGE

.placeholder__message {
  margin-top: 30px;
  text-align: center;
  font: $font-stack-copy;
  color: $copy-grey;

  .placeholder__message__para { margin: 0; }

  .placeholder__message__link {
    font: $font-stack-link;
    color: $link-blue;
    text-decoration: none;
  }
}

@media #{$bp-small} {
  .placeholder__message {
    margin-top: 30px;
    font: $font-stack-copy-small;

    .placeholder__message__link {
      font: $font-stack-link-small;
    }
  }
}


